@use "@/styles/Variables.scss" as v;

.form {
  font-size: 2cqmin;
  --gap: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto);
  gap: var(--gap);
  width: 100%;
  margin-top: 2cqmin;
}
.input-container {
  position: relative;
  grid-column: span 1;
  // width: calc(50% - var(--gap) / 2);
  &:has(input[type="email"]) {
    grid-column: 1/-1;
  }
}

.input {
  font-size: 2em;
  position: relative;
  border: 1px solid transparent;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 0.45em;
  padding: 1.2em 0.45em 0.375em 0.375em;
  width: 100%;
  &:focus {
    // border: 1px solid v.$clr-purple;
    & + label {
      font-size: 1.5em;
      left: 0.65em;
      opacity: 0.75;
      top: 0.9em;
    }
  }
  &[type="email"] {
  }
  &.text-area {
    grid-column: 1/3;
    resize: none;
    font-size: 2em;
    border-radius: 0.45em;
    padding: .45em;
  }
  & + label {
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    transition: 150ms;
    color: v.$darkGray;
    text-transform: capitalize;
    &.moved {
      font-size: 1.5em;
      left: 0.65em;
      opacity: 0.75;
      top: 0.9em;
    }
  }
}
.input-error {
  position: absolute;
  bottom: 0.25em;
  right: 0.6em;
  // transform: translateX(-100%);
  font-size: 1.6em;
  color: rgb(143, 52, 36);
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  border: 1px solid rgb(20, 99, 27);
  // border: 1px solid v.$clr-purple;
  -webkit-box-shadow: 0 0 0 1000px rgb(27, 27, 27) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
.form-button {
  grid-column: 1/-1;
  font-size: 2.1em;
  border-radius: 1em;
  padding: 0.7em 1.25em;
  font-family: v.$ff-droid;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  // color: v.$clr-white;
  border: 0;
  cursor: pointer;
  &:enabled {
    // background: linear-gradient(45deg, v.$clr-purple, v.$clr-greyish);
    transition: 150ms;
    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:active {
      opacity: 0.75;
      transform: scale(0.98);
    }
  }
  &:disabled {
  }
}

.loader {
  transform: rotateZ(45deg);
  display: inline-block;
  perspective: 1000px;
  border-radius: 50%;
  width: 2cqmin;
  height: 2cqmin;
  color: #fff;
  position: relative;
  // border: 1px solid blue;
  // background-color: aqua;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  // color: v.$clr-purple;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@media (aspect-ratio > 9/17) {
  .form {
    font-size: 1.5cqmin;
  }
}
@media (aspect-ratio > 9/14) {
  .form {
    font-size: 1.3cqmin;
  }
  .input-container{
    grid-column: span 1;
    &:has(.input[type="email"]){
      grid-column: 1/-1;
    }
  }
}
@media (aspect-ratio > 10/12) {
  .form {
    font-size: 1cqmin;
  }
}
  @media (aspect-ratio > 13/9) {
    .form{
      
    }
  }

@media (aspect-ratio > 16/9) {
}
