@use "/styles/Variables.scss" as v;

.fullview__close-button {
    border: 0;
    position: fixed;
    top: v.$p-general;
    right: v.$p-general;
    z-index: 20;
    background: transparent;
    cursor: pointer;
    & svg {
      fill: rgb(214, 214, 214);
      width: 2rem;
      height: 2rem;
      display: block;
    }
  }