@use "/styles/Variables.scss" as v;

.gallery{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: v.$p-big;
}
.gallery__heading{
    font-size: v.$fs-h2;
    text-align: center;
    background-color: rgb(97, 81, 61);
}
.gallery__items-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: v.$p-general;
}
.gallery *{
}