@use "/styles/Variables.scss" as v;

.gallery{
    --fs-gallery-base: 1rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: v.$p-big;
}
.gallery__heading{
    // font-size: v.$fs-h2;
    text-align: center;
    // background-color: rgb(97, 81, 61);
}
.gallery__items-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    // padding: v.$p-general;
}
.gallery *{
}

@media (min-width: 600px){
    .gallery{
        padding: calc(v.$p-big*1.5);
        gap: 3rem;
    }
    .gallery__items-container{
        gap:3rem;
    }
}
@media (min-width: 900px){
    .gallery{
        padding: calc(v.$p-big*2);
        gap: 4rem;
    }
    .content__image-container{
        width: 40%;
    // aspect-ratio: 1/1;
    }
}