@use "/styles/Variables.scss" as v;

.works-carousel-container {
  width: 100%;
  height: 75%;
  // top: 0;
  // left: 0;
  // position: relative;
  z-index: 15;
  // flex:2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: v.$p-general v.$p-big;
  gap: 1rem;
  // background-color: rgba(121, 82, 82, 0.3);
}
.works-description-container {
  flex:1;
  display: flex;
  flex-direction: column;
}

.fullview__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.artwork-container {
  //   background-color: rgb(27, 29, 31);
  width: 100%;
  height: 80%;
  position: relative;
}

.content__info {
}
.info--heading {
}
.info--text {
}
@media (min-width: 450px) {
  .works-carousel-container{
    
  }
}
@media (min-width: 600px) {
  .fullview-container{
    flex-direction: row;
  }
}