@use "/styles/Variables.scss" as v;

// $nav-item-size: 1rem;

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(v.$p-general*1.5) calc(v.$p-general*2);
    position: fixed;
    // top:0;
    // left:0;
    width:min(100%, v.$max-vw);
    z-index: 2; 
}

.logo-container{
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{

}

.header__nav{
    display:block;
}
.header__nav__list{
    --nav-font-base: 1rem;
    position: absolute;
    z-index: 9;
    top:0;
    right: 0;
    height: 100dvh;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: hsla(114, 52%, 11%, 0.39);
    background-color: hsla(193, 26%, 17%, 0.4);
    transform: translateX(100%);
    transition: transform v.$tr-fast;
}
.header__nav__list:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
}
.header__nav__list.opened{
    transform: translateX(0);
}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}
.header__nav__list2{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:-2rem;
    right:100%;
    display: flex;
    flex-direction: column;
    width: min(10rem, 50vw);
    transition: v.$tr-fast;
    border-radius: .35rem;
    overflow: hidden;
}
.nav__link2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    padding: calc(var(--nav-font-base)*2) var(--nav-font-base);

    background-color: hsla(193, 26%, 17%, 0.4);
    backdrop-filter: blur(8px);
    
}
.nav__list2--hovered{
    visibility: visible;
    opacity: 1;
    top: 1rem;
}

.header__nav__list2-clicked{
    visibility: hidden;
    opacity: 0;
    top: -2rem;
}
.nav__link2:hover{
    background-color: hsla(114, 53%, 25%, 0.65);

}
.header__nav__list--item2{
    text-transform: uppercase;
    font-size: calc(var(--nav-font-base)*.85);
    letter-spacing: 0rem;
}


.header__nav__list--item{
    font-size: var(--nav-font-base);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .125rem;
}

.header__nav__list .nav__link{
    position: relative;
    flex-direction: row;
    align-items: center;
}
.header__nav__list--item::after{
    position:absolute;
    content: "";
    width:0;
    z-index: 10;
    background-color: #B4A5A5;
    height: 0.2rem;
    // margin-top: 5px;
    bottom: -2px;
    transition: v.$tr-fast;
    z-index: 10;
    left: 0;
    border-radius: 10px;
}
.header__nav__list--item.underlined::after{
    width: 100%;
}

.header__nav__list .nav__link:hover .header__nav__list--item::after {
    width: 100%;
}
@media (min-width: 450px) {
    .logo-container{
        width: 4rem;
    }

}
@media (min-width: 600px){
    .header__nav__list{
        --nav-font-base: 1rem;
        position: static;
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
        list-style: none;
        background-color: transparent;
        margin:0;
        padding:0;
        height: auto;
        transform: translateX(0);
    }
    .header__nav__list:before{
        backdrop-filter: none;
    }
    .header__nav__list--item{
        // font-size: calc($nav-item-size*1.5);
        font-size: var(--nav-font-base);
        // letter-spacing: 0.125rem;
    }
    .header__nav__list2{
        // visibility: visible;
        // opacity: 1;
        left:100%;
        top: 100%;
        flex-direction: row;
        // width:24rem;
    }
    .header__nav__list.opened{
        transform: translateX(0);
    }
    .nav__link2{
        padding: 1rem .5rem;

    }
    .gallery:hover .header__nav__list2{
        top:100%;
        left:-15%;
    }
    .gallery:hover .header__nav__list2.header__nav__list2-clicked{
        top:100%;
        left:100%;
        visibility: 0;
        opacity: 0;
    }
    .header__nav__list2-clicked{
        // top:100%;
        // left:100%;
    }
    .nav__link2:hover{
        
    
    }
    .header__nav__list--item2{
        font-size: calc(var(--nav-font-base)*.85); 
    }
    .logo-container{
        width: 5rem;
    }

}
@media (min-width: 1200px){
    .header__nav__list{
        --nav-font-base: 1.25rem;
        gap: 1.35rem;
    }
    .header__nav__list2{
        // visibility: visible;
        // opacity: 1;
        left:100%;
        top: 100%;
        flex-direction: row;
        // width:28.5rem;
    }
    .nav__link2{
        padding: calc(var(--nav-font-base)) var(--nav-font-base);
        
    }
    .logo-container{
        width: 7rem;
    }
}