@use "/styles/Variables.scss" as v;

.footer{
    display: flex;
    flex-direction: column;
    padding: v.$p-general;
}
.footer-info-container{
    display: flex;
    justify-content: space-between;


}
.footer-info__logo{

}
.logo--image{

}
.logo--email{

}
.footer-info__sections{

}
.sections--heading{

}
.sections--list{

}
.sections--list-item{

}
.footer-info__social-networks{

}
.social-networks--heading{

}
.social-networks--list{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding:0;
    margin:0;
}
.social-networks--item{
    width: 2rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: v.$tr-fast;
}
.social-networks--item:hover{
    opacity: .85;
}
.footer-copyright-container{

}