.hero{
    height: 100dvh;
    position: relative;
    z-index:-1;
    background-image: url("/images/hero_images/forest.png");
    background-position: top center;
}
.hero__heading{
    font-size: 3rem;
    position: absolute;
    top:40%;
    width: 100%;
    text-align: center;
}
.hero__image{
    
}