@use "/styles/Variables.scss" as v;


.hero{
    height: 100dvh;
    max-height: 1080px;
    position: relative;
    width: 100%;
    z-index:-1;
    padding: v.$p-big;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 69, 75);
    background-image: linear-gradient(0deg, #257187, #00454b);

    
}
.hero-background{
    position: absolute;
    object-fit: cover;
    object-position: center top;
    &.sky{
        position: absolute;
    }
    &.clouds{
        position: absolute;
    }
    &.mountains{
        position: absolute;
    }
    &.wind{
        position: absolute;
    }
    &.fog1{
        position: absolute;
    }
    &.water{
        position: absolute;
    }
    &.fog2{
        position: absolute;
    }
    &.trees{
        position: absolute;
    }
}
.hero__heading{
    text-align: center;
    overflow:hidden;

    // transform: translateY(-5%);
}
.hero__image{
    
}