@use "/styles/Variables.scss" as v;


.hero{
    height: 100dvh;
    max-height: 1080px;
    position: relative;
    width: 100%;
    z-index:-1;
    // background-image: url("/images/hero_images/night_image_green.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: top center;
    // padding: v.$p-big;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-background{
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.hero__heading{
    // font-size: 3rem;
    // position: absolute;
    // top:calc(45% - 1.5rem);
    // width: 100%;
    text-align: center;
    // opacity: 1;
    // z-index: 10;
    // border: 1px solid red;
    overflow:hidden;
    
}
.hero__image{
    
}