//Colors

$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlueDarkMode:hsl(207, 26%, 17%);
$veryDarkBlueLightMode:hsl(200, 15%, 8%);
$veryDarkBlue: hsl(213, 100%, 6%);
$darkGray: #858585;
$veryLightGray:hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
//Font-family:

$ff-soria: "Soria", sans-sefif;
$ff-droid: "Droid", sans-serif;
$ff-taviraj: "Taviraj", sans-serif;
//Font-size

$fs-primary: 14px;
$fs-secondary: 16px;
$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.5rem;
$fs-h4: 1.25rem;
$fs-h5: 1rem;
$fs-par-general: 1rem;

$ff-nunito: 'Nunito Sans', sans-serif;
$max-vh: 1080px;
$max-vw: 1920px;
//Shadow
$smallShadow:
0px 1px 2.6px -8px rgba(0, 0, 0, 0.08),
0px 1px 15px -8px rgba(0, 0, 0, 0.26);

$mediumShadow:
  0px 0px 3px rgba(0, 0, 0, 0.342)
;
$largeShadow:
0px 0px 1.3px rgba(0, 0, 0, 0.343),
0px 0px 8px rgba(0, 0, 0, 0.45)
;
//Padding
$p-general: 1rem;
$p-big: 2rem;
//Time

$tr-fast: 200ms;

@mixin button{
    text-transform: capitalize;
    background-color: $white;
    border: 0;
    box-shadow: $mediumShadow;
    border-radius: .1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

@font-face {
  font-family: 'Soria';
  src: 
       url('/fonts/soria/soria-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Droid';
  src:
       url('/fonts/droid/DroidSerif-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// @font-face {
//   font-family: 'Droid';
//   src:
//        url('/fonts/droid/DroidSerif-Bold-webfont.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'Droid';
//   src:
//        url('/fonts/droid/DroidSerif-Italic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Droid';
//   src:
//        url('/fonts/droid/DroidSerif-BoldItalic-webfont.woff') format('woff');
//   font-weight: bold;
//   font-style: italic;
// }

@font-face {
  font-family: 'Taviraj';
  src:
       url('/fonts/taviraj/Taviraj-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Taviraj';
  src:
       url('/fonts/taviraj/Taviraj-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}